.top-banner {
  text-align: center;
  background-position: center center;
  background-attachment: scroll;
  background-size: 100% 250px;
  height: 250px;
}
.top-banner img {
  width: 240px;
  padding: 23px;
}
.top-banner h2 {
  text-align: center;
  padding: 100px;
  color: white;
}
.logo {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.4);
}
